<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Construire un &quot;build&quot; de type drupal sur la plateform PROFILENAME en utilisant le repository gerrit drupal/PROFILENAME.git sur un refspec</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec>$GERRIT_REFSPEC</refspec>
        <url>ssh://gerrit.saluc.com:29418/drupal/PROFILENAME</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$GERRIT_BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
      <spec></spec>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>ANT</compareType>
          <pattern>drupal/PROFILENAME</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>ANT</compareType>
              <pattern>master</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <silentMode>false</silentMode>
      <escapeQuotes>true</escapeQuotes>
      <buildStartMessage></buildStartMessage>
      <buildFailureMessage></buildFailureMessage>
      <buildSuccessfulMessage></buildSuccessfulMessage>
      <buildUnstableMessage></buildUnstableMessage>
      <buildUnsuccessfulFilepath></buildUnsuccessfulFilepath>
      <customUrl></customUrl>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ls -al</command>
    </hudson.tasks.Shell>
    <hudson.plugins.phing.PhingBuilder>
      <buildFile>build/pre-build.xml</buildFile>
      <useModuleRoot>false</useModuleRoot>
    </hudson.plugins.phing.PhingBuilder>
    <hudson.plugins.phing.PhingBuilder>
      <buildFile>build/build.xml</buildFile>
      <useModuleRoot>false</useModuleRoot>
    </hudson.plugins.phing.PhingBuilder>
    <hudson.plugins.phing.PhingBuilder>
      <buildFile>build/post-build.xml</buildFile>
      <properties>fab.path=/usr/bin/fab
fabfile.path=/usr/local/src/fabfile.py
aegir.server.uri=aegir.saluc.com
aegir.platform=PROFILENAME_testing
drupal.profile=PROFILENAME
project.drupal.dir=$WORKSPACE/www/
aegir.directories.platforms=/var/aegir/platforms
aegir.server.web=aegir
aegir.server.db=localhost
aegir.user=aegir</properties>
      <useModuleRoot>false</useModuleRoot>
    </hudson.plugins.phing.PhingBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer>
      <recipients>thierry.bruyere@saluc.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>
